@{
    ViewData["Title"] = "Yetkiniz Yoktur";
}

<h2>Yetkiniz Yoktur</h2>
<p>Bu sayfaya erişim izniniz bulunmamaktadır.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Ana Sayfaya Dön</a>
